
.landingPageContainer {
  width: 100vw;
  height:100vh;
  background-size: cover;
  background-color: #2b1f21;
}

.landingPageContainer nav{
  padding-inline: 4rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fceffa;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-family: 500;
}

.landingPageContainer nav .navList {
  display: flex;
  gap:1.6rem;
  cursor: pointer;
}

.LandingMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem; 
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 15vh;
}

.LandingMainContainer > div:nth-child(1) {
  font-size: 1.3rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #d09db8;
  
}

.LandingMainContainer > div:nth-child(2) img{
  height: 50vh;
  width: auto ;
  
}